<a href="https://colab.research.google.com/github/taruj/car_price_prediction/blob/main/car_price_prediction_vehicle_dataset_from_cardekho.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. Business Specific Comments
### We want to `Predict` </b> the `Selleing Price` of used cars sold on cardehko.com in India.
#### Only a subset of the actual database has been selected for ease
#### Original Data Set - https://www.kaggle.com/datasets/saisaathvik/used-cars-dataset-from-cardekhocom

## 2. Import LIbs and Data Load

In [1]:
## Standard Import Statements
from google.colab import drive
drive.mount('/content/my_drive')

%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

Mounted at /content/my_drive

In [2]:
# We will perform the standard methods for loading the data from Google Drive (persistance)
data = pd.read_csv('/content/my_drive/MyDrive/Colab Notebooks/data/vehicle_dataset_from_cardekho.csv')

## 3. Exploratory Data Analysis

In [3]:
data.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [4]:
data.shape

(301, 9)

In [5]:
data.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [6]:
## No missing data 
## Categorical Features - Fuel_Type, Seller_Type, Transmission, Owner
## Continious Features - Selling_Price [Dependent Variable], Present_Price, Kms_Driven
## Year - Numerica representation of year which we will be convervt to Age_of_Car [Current_Year - Year]
## Car_Name - Drop as it doesn't add value to price prediction ??

In [7]:
data['Fuel_Type'].unique()

array(['Petrol', 'Diesel', 'CNG'], dtype=object)

In [8]:
data['Transmission'].unique()

array(['Manual', 'Automatic'], dtype=object)

In [9]:
data['Seller_Type'].unique()

array(['Dealer', 'Individual'], dtype=object)

In [10]:
data['Owner'].unique()

array([0, 1, 3])

In [11]:
## Year is ambigious - convert to age_of_car